* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box !important;
    overflow: visible;
}

html, body {
    font-family: 'Nova Oval', cursive;
    background-color: #EFF3F6;
}


/* Navigation */
nav {
    position: fixed;
    width: 17rem;
    height: 100%;
    left: -17rem;
    z-index: 50;
    transition: 0.5s;
    background-color: #081119;
    color: white;
}

.dark_background {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #081119;
    z-index: 40;
    opacity: 0.9;
    display: none;
}
.margin_left {
     margin-left: 17rem;
}

.margin_left nav {
    left:0;
}

h1 {
    margin: 0;
    padding: 0.75rem 0 0.75rem 1.5rem;
    color: white;
}

header {
    height: 4rem;
    background-color: #081119;
    transition: 0.5s;
}

h2{
    font-size: 2rem;
    color: white;
    padding: 0.75rem;
}
.up ul > li {
    color: floralwhite;
    padding-left: 2rem;
    cursor: pointer;
}

.menu_head {
    width: 100%;
    background-color: #2BBFBE;
    height: 4rem;
}

.icon_menu {
    position: fixed;
    top:0.75rem;
    right: 0.75rem;
    cursor: pointer;
    font-size: 2rem;
    z-index: 100;
    color: #2BBFBE;
}

.ion-close {
    color: #454c5a;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.6s;
}

.ion-close:hover {
    color: white;
}

nav > ul {
    padding: 1rem 0.75rem;
    width:100%;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    padding: 0.5rem;
    transition: 0.6s;
}

nav a {
    text-decoration: none;
    color: #3e4451;
    font-size: 130%;
}

nav a:hover {
    color: #2BBFBE;
}

nav ul i {
    float: right;
    color: #454c5a;
    font-size: 1.5rem;
}

nav button {
    position: absolute;
    background-color: #2BBFBE;
    border: none;
    width: 12rem;
    height: 3rem;
    bottom: 1.25rem;
    left: 2.25rem;
    border-radius: 5px;
    transition: 0.4s;
    margin-bottom: 1rem;
    z-index: 50;
}

/* Article/Section*/

article {
    -moz-column-width: 40em;
    -webkit-column-width: 40em;
    -moz-column-gap: 4em;
    -webkit-column-gap: 2em;
    margin: 2em;
}

section {
    display: inline-block;
    width:  100%;
    background: white;
    margin: 0 1em 2em 0;
    padding: 1.5em;
}

section:first-of-type {
    position: relative;
}

.inf p:first-of-type {
    font-weight: bold;
}

section:first-of-type button {
    right: 1.25rem;
    bottom: 1.25rem;
    margin: 1rem;
    float: right;
}

section h3 {
    font-size: 1.8rem;
    border-bottom: 2px solid rgba(229, 232, 229, 0.83);
    margin-bottom: 1em;
}

section p {
    text-align: justify;
    margin-bottom: 1em;
}

section ul li {
    margin-left: 20px;
}

.box_first img, .cost img, .places img {
    width: 60%;
    float: right;
    margin: 0 0 1em 1em;
    box-shadow: 2px 2px 6px rgba(136,141,143,1);
}

.places  img {
    margin-top:  -3.25rem;
}

p::selection {
    background: #2BBFBE;
    color: white;
}

section button {
    float: left;
    right: 10px;
    bottom: 10px;
    background-color: #2BBFBE;
    font-size: 1.1rem;
    color: white;
    border: none;
    width: 130px;
    height: 37px;
    border-radius: 5px;
    transition: 0.4s;
}



section select {
    background-color: #2BBFBE;
    border: none;
    width: 230px;
    height: 37px;
    border-radius: 5px;
    transition: 0.4s;
    margin: 0 0 1rem 1.25rem;
    padding-left: 0.18rem;
    color: white;
    font-size: 1rem;
}

section i {
    color: #2BBFBE;
    font-size: 2rem;
    font-weight: bold;
}

.ion-android-search {
    position: relative;
    top: 0.5rem;
}

.verona .first {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

/* Calculate*/
.cost {
    position: relative;
    background-color: #2bb3b2;
    color: white;
}

input[type=text], input[type=number] {
    border: none;
    border-radius: 4px;
    color: #3e4451;
    padding-left: 5px;
    margin-bottom: 1.5rem;
    height: 1.8rem;
    width: 15rem;
}

input:focus {
    outline: none;
}

.second {
    left: 30rem;
    position: absolute;
}

.cost label {
    line-height: 1.5rem;
}

input[type=checkbox] {
    left: 10rem;
    position: absolute;
    margin-top: 4px;
    border: none;
    outline: none;
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
}


input[type=text] {
    color: black;
}

.calculate {
    margin-top: 2rem;
    background-color: #081119;
    display: block;
}

.cost i {
    color: white;
    font-size: 1.75rem;
    padding-left: 1rem;
}

.big, .offPerc {
    font-weight: bold;
    font-size: 1.1rem;
    color: rgba(13, 28, 41, 0.92);
}

.off {
    padding-left: 7.5rem;
}

.cost p {
    margin: 1.5rem 0 0.75rem 0;
}

.result {
    width: 15rem;
    height: 5rem;
    background-color: white;
    position: absolute;
    left: 30rem;
    bottom: 2rem;
    border-radius: 5px;
}

.result p {
    color: rgba(13, 28, 41, 0.92);
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

.result p span {
    font-weight: bold;
    font-size: 2.3rem;

}
/*Change style*/
.changeStyleB {
    background-color: #1875D1;
    transition: 0.5s;
}

.changeStyleC {
    color: #1875D1;
    transition: 0.5s;
}
.hidden_text{
    display: none;
}

.arena, .balcony {
    display: none;
}



/*Validate*/

input.active {
    border: 2px solid #1a7170;
}

input.error {
    border: 2px solid red;
}


.describe p {
    background: red;
    width: 100px;
    height: 100px;
    z-index: 80;
    opacity: 0.8;
    margin: 0 auto;
float: right;
    overflow: hidden;
    color: white;
}

.image_section img {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0;
}

section .image_section img {
    margin: 0;
    padding: 0;
}
